<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineport</title>
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="home">
        <%- include('component/sidebar') %>
            <% if (user) { %>
                <div class="accountDetails">
                    <h1>Settings</h1>
                    <h2>Account</h2>
                    <p>Email: <%= user.email %>
                    </p>
                    <!-- Add more account details as needed -->
                    <button onclick="window.location.href='/account/<%= user._id %>/export'">Export Watchlist</button>
                    <button onclick="window.location.href='/account/<%= user._id %>/delete'">Delete Account</button>
                </div>
                <% } else { %>
                    <% } %>
    </div>

</body>

</html>