<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/css/sidebar.css" />
    <link rel="stylesheet" href="/css/add-on.css" />

    <!-- Boxicons CSS -->
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <title>Cineport</title>
</head>

<body>
    <nav class="sidebar">
        <div class="border">
            <header>
                <a href="#">
                    <div>
                        <span class="cineport-logo">
                            <img src="/image/cineport_logo.png" alt="Cineport Logo">
                        </span>
                    </div>
                </a>
            </header>
    
            <div class="menu-bar">
                <div class="menu">
                        <!-- Add link -->
                    <ul class="sidebar-links">
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx  bx-home icon'></i> 
                                <span class="text">Home</span>
                            </a>
                        </li>
                        
                        <li class="nav-link">
                            <a href="/watchlist">
                                <i class='bx  bx-categories icon'></i> 
                                <span class="text">Watchlist</span>
                            </a>
                        </li>
                        
                        <li class="nav-link">
                            <a href="#">
                                <i class='bx  bx-grid-plus icon'></i> 
                                <span class="text">Add-on</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </a>
        </header>

            <div class="bottom-content">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-user icon'></i>
                        <span class="text">Account</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    <!-- Main page content goes here. -->
    <section class="home">
        <div class="title">
            <span>Add-on</span>
        </div>
        <div class="add-on-container">
            <div class="add-on-card">
                <img src="/image/temp_logo/dp_logo.png" alt="logo" class="service-img">
                <span class="service-name">Disney+</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="add-on-card">
                <img src="/image/temp_logo/n_logo.jpg" alt="logo" class="service-img">
                <span class="service-name">Netflix</span>
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </section>

</body>

</html>