<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMEVERSE</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/partials.css">
    <link rel="icon" href="/img/logo.jpg" type="image/jpeg">
    <script src="/js/index/sidebar.js"></script>
</head>

<body>
    <h1>Home</h1>

</body>

</html>