<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineport</title>
</head>

<body>
    <h1>Home</h1>
    <% if (user) { %>
        <h1>Welcome, <%= user.userName %>
        </h1>
        <form action="/login/logout" method="get">
            <button type="submit">Logout</button>
        </form>

        <% } else { %>
            <a href="/login">
                <button>Login</button>
            </a>

            <a href="/signup">
                <button>Sign up</button>
            </a>

            <% } %>
                <a href="/watchlist"><button>watchlist</button></a>
</body>

</html>