<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineport</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="login">
        <div class="login-align">
            <span class="logo">
                <a href="#">
                    <img src="image/cineport_logo.png" alt="">
                </a>
            </span>
            <span class="login-form">
                <form action="/login" method="POST" id="loginForm">
                    <!-- <label for="email">Email</label> -->
                    <li class="form-style">
                        <input type="email" placeholder="Email" name="email">
                        <!-- <label for="password">Password</label>  -->
                    </li>
                    <li class="form-style">
                        <input type="password" placeholder="Password" name="password">
                    </li>
                    <button type="submit">Log In</button>
                </form>
            </span>
        </div>
    </div>
</body>

</html>