<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineport</title>
</head>

<body>
    <h1>Home</h1>
    <% if (results) { %>

        <% } else { %>
            <p>no results</p>
            <% } %>
</body>

</html>