<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="/css/sidebar.css" />

    <!-- Boxicons CSS -->
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <title>Cineport</title>
</head>

<body>
    <nav class="sidebar">
        <header>
            <a href="#">
                <div>
                    <span class="cineport_logo">
                        <img src="/image/cineport_logo_notext.png" alt="Cineport Logo">
                    </span>
                </div>
            </a>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <!-- Add link -->
                <ul class="sidebar-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx  bx-home icon'></i>
                            <span class="text">Home</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/watchlist">
                            <i class='bx  bx-categories icon'></i>
                            <span class="text">Watchlist</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx  bx-grid-plus icon'></i>
                            <span class="text">Add-on</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-user icon'></i>
                        <span class="text">Account</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    <!-- Search bar -->
    <div class="search-header">
        <li class="search-box">
            <input type="text" placeholder="Search">
            <i class='bx  bx-search icon'></i>
        </li>
    </div>

    <!-- Main page content goes here. -->
    <section class="home">
        <div class="title">
            <span>Search</span>
        </div>

        <form action="/search" method="GET" class="search-box">
            <input type="text" placeholder="Search" name="keyword">
            <button class='bx  bx-search icon'> </button>
        </form>

        <% if (results) { %>
            <% results.forEach(item=> { %>
                <a href="/info/<%= item.id %>"><img src="<%= item.image %>" alt="<%= item.title %>" class="movie"></a>
                <% }) %>
                    <% } else { %>
                        <p>no results</p>
                        <% } %>
    </section>

</body>

</html>