<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signup.css">

    <title>Cineport</title>
</head>

<body>
    <h1>Sign up</h1>
    <form action="/signup" method="POST" id="signupForm">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <div class="error" id="usernameError"></div>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <div class="error" id="emailError"></div>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <div class="error" id="passwordError"></div>
        </div>

        <button type="submit">Sign up</button>
    </form>
    <script src="/js/formValidation.js"></script>
</body>

</html>