<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cineport</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/signup.css">

</head>

<body>
    <nav class="sign-up-container">
        <span class="logo">
            <a href="#">
                <img src="image/cineport_logo.png" alt="">
            </a>
        </span>

        <span class="sign-up-form">
            <form action="/signup" method="POST" id="signupForm">
                <li class="account-input">
                    <input type="text" name="username" id="username" placeholder="Enter your username">
                </li>
                <div class="error" id="usernameError"></div>

                <li class="account-input">
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </li>
                <div class="error" id="emailError"></div>

                <li class="account-input">
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                </li>
                <div class="error" id="passwordError"></div>
                <div class="sign-up-button">
                    <button type="submit">Sign up</button>
                </div>
            </form>
        </span>
    </nav>
    <script src="/js/formValidation.js"></script>
</body>

</html>