button {
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin: 10px;
}

.exportBtn {
    background-color: #4CAF50;
    /* Green */
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.deleteBtn {
    background-color: #f44336;
    /* Red */
    color: white;
    border: none;
    cursor: pointer;
}

.info {
    width: 400px;
    height: 250px;
    background-color: #212E47;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.user-icon {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 50%;
}

.language {
    margin-top: 10px;
    background-color: #212E47;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.version {
    margin-top: 10px;
    background-color: #212E47;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

* {
    box-sizing: border-box;
    color: white;
}

#image{
    position: relative;
    bottom: 500px;
    left: 600px;
}