@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

:root {
    --gradient-start: #040E22;
    --gradient-end: #0E2D6B;
    --text-color: #FFFFFF;
    --search-box-color: rgba(220, 220, 220, 0.65);
}

body {
    background: linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 50%);
}

.sidebar {
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    position: fixed;
    padding: 10px 14px;
    z-index: 100;
}

.sidebar .cineport-logo {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .cineport-logo img {
    scale: 0.2;
}

.sidebar .text {
    color: var(--text-color);
    font-size: 1.6rem;
    white-space: nowrap;
}

.sidebar li {
    height: 50px;
    margin-top:10px;
    display: flex;
    align-items: center;
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Common CSS */
.sidebar li .icon, .sidebar li .text {
    color: var(--text-color);
    font-size: 1.6rem;
}

.sidebar li .icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
}

.sidebar .nav-link:hover .icon{
    transform: scale(1.3);
}

.sidebar .menu-bar {
    height: calc(100% - 18%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Sidebar border */
    border-right: 0.5px solid rgba(84, 84, 84, 0.6);
}

.sidebar .bottom-content{
    margin-bottom: 20px;
}

.home {
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: transparent;
}

.search-header {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    padding: 30px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    background: var(--gradient-start);
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 40%;
    /* border: 1px solid var(--search-box-color); */
}

.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background: var(--gradient-start);
    color: var(--search-box-color);
}

.search-box .icon {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 10px;
    cursor: pointer;
    color: var(--search-box-color);
}

.home {
    padding: 10px 40px;
}

.home .title {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: 600;
}