@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

:root {
    --gradient-start: #040E22;
    --gradient-end: #0E2D6B;
    --text-color: #FFFFFF;
    --search-box-color: rgba(220, 220, 220, 0.65);
}

body {
    background: linear-gradient(90deg, var(--gradient-start) 0%, var(--gradient-end) 50%);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    /* scale: calc(0.3); */
}

.login-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-align .logo img{
    height: 404px;
    scale: calc(0.7);
}

span .login-form {
    color: var(--text-color);
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form form .form-style {
    background: var(--gradient-start);
    border-radius: 30px;
    padding: 20px;
    /* width: 40%; */
    list-style-type: none;
    gap: 20px;
}

.login-form form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background: var(--gradient-start);
    color: var(--search-box-color);
}