.title {
    width: 300px;
    height: 500px;
}

.container {
    display: flex;
}

.movie-container {
    margin-left: 270px;
    /* This matches the sidebar width */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* Allows movies to wrap to the next line */
    gap: 20px;
    /* Adds space between movie posters */
}

.movie-carousel {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}   

.title span {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--search-box-color);
}