<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="./css/sidebar.css" />

    <!-- Boxicons CSS -->
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>

    <title>Sidebar</title>
</head>

<body>
    <nav class="sidebar">
        <div class="border">
            <header>
                <a href="#">
                    <div>
                        <span class="cineport-logo">
                            <img src="/image/cineport_logo.png" alt="Cineport Logo">
                        </span>
                    </div>
                </a>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <!-- Add link -->
                    <ul class="sidebar-links">
                        <li class="nav-link">
                            <a href="/">
                                <i class='bx  bx-home icon'></i>
                                <span class="text">Home</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="/watchlist">
                                <i class='bx  bx-categories icon'></i>
                                <span class="text">Watchlist</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="/add-on">
                                <i class='bx  bx-grid-plus icon'></i>
                                <span class="text">Add-on</span>
                            </a>
                        </li>
                    </ul>
                </div>
                </a>
                </header>

                <div class="bottom-content">
                    <li class="nav-link">
                        <% if (user) { %>
                            <a href="/account/<%= user._id %>">
                                <i class='bx  bx-user icon'></i>
                                <span class="text">Account</span>
                            </a>
                            <a href="/login/logout">
                                <i class='bx  bx-user icon'></i>
                                <span class="text">Logout</span>
                            </a>
                            <% } else { %>
                                <a href="/login">
                                    <i class='bx  bx-user icon'></i>
                                    <span class="text">Login</span>
                                </a>
                                <% } %>

                    </li>
                </div>
            </div>
    </nav>

</body>

</html>